<div>
  <ul>
    <li><%= t :created_at %>: <%= @rent.created_at %></li>
    <li><%= t :book_title %>: <%= @rent.book.title %></li>
    <li><%= t :book_year %>: <%= @rent.book.year %></li>
    <li><%= t :book_publisher %>: <%= @rent.book.publisher %></li>
    <li><%= t :rent_start_date %>: <%= @rent.start_date %></li>
    <li><%= t :rent_end_date %>: <%= @rent.end_date %></li>
  </ul>
</div>
