<div>
  <ul>
    <li>Fecha actual: <%= @rent.created_at %></li>
    <li>Título libro: <%= @rent.book.title %></li>
    <li>Año libro: <%= @rent.book.year %></li>
    <li>Editor libro: <%= @rent.book.publisher %></li>
    <li>Fecha inicio renta: <%= @rent.start_date %></li>
    <li>Fecha término renta: <%= @rent.end_date %></li>
  </ul>
</div>
