<div>
  <ul>
    <li>Fecha actual: <%= @date %></li>
    <li>Título libro: <%= @title %></li>
    <li>Año libro: <%= @year %></li>
    <li>Editor libro: <%= @publisher %></li>
    <li>Fecha inicio renta: <%= @start_date %></li>
    <li>Fecha término renta: <%= @end_date %></li>
  </ul>
</div>
